<!--individual user's to-do list-->
{% extends "base.html" %}
{% load url from future %}
{% load static %}


{% block title %}{{list.owner |capfirst}}'s To-Do List{% endblock %}

{% block content %}

<h1>{{list.owner |capfirst}}'s To-Do List</h1>

<img src="{{ STATIC_URL }}todolist/viewreport.png">
<a href="{% url 'todolist:report' list.id %}">View {{list.owner |capfirst}}'s report</a>
<br>
<img src="{{ STATIC_URL }}todolist/additem.png">
<a href="{% url 'todolist:add' list.id %}">Add an item to {{list.owner |capfirst}}'s to-do list</a>
<br>
<br>

<!--radio buttons to filter to-do list-->
<form action="." method="POST">
    {% csrf_token %}
    {{form.filter_field}}
    <input type="submit" class="buttons" value="Filter"/>
    <input type="hidden" name="form_type" value="filter_form"/>
</form>

<!--check if anything to display-->
{% if to_display.count %}

    <!--check if owner of the list. If so, show editable list-->
    {% if isOwner %}        
        <p id="priority_label">Priority level 3:</p>
        <ul id="sorter1">
        {% for item in to_display %}
            {% if item.priority == 3 %}
                <li id="item_{{item.id}}" class="ui-state-default list_text">
                    <input type="checkbox" name="todelete" value="{{item.id}}" {% if item.completed %} checked = "yes" {% endif %} class="completed_box" id="{{item.id}}"/>
                    {{item.text}}
                     <p class="ui-state-default panel">
                        {{item.description}} <br><br>
                        {% if item.due_date %} Due: {{item.due_date}} {% endif %} <br>
                        Assigned by: {{item.assigner |capfirst}} <br>
                        Assigned on: {{item.assigned_date}}
                    </p>
                </li>
            {% endif %}
        {% endfor %}
        </ul>

        <p id="priority_label">Priority level 2:</p>
        <ul id="sorter2">
        {% for item in to_display %}
            {% if item.priority == 2 %}
                <li id="item_{{item.id}}" class="ui-state-default list_text">
                    <input type="checkbox" name="todelete" value="{{item.id}}" {% if item.completed %} checked = "yes" {% endif %} class="completed_box" id="{{item.id}}"/>
                    {{item.text}}
                     <p class="ui-state-default panel">
                        {{item.description}} <br><br>
                        {% if item.due_date %} Due: {{item.due_date}} {% endif %} <br>
                        Assigned by: {{item.assigner |capfirst}} <br>
                        Assigned on: {{item.assigned_date}}
                    </p>
                </li>
            {% endif %}
        {% endfor %}
        </ul>

        <p id="priority_label">Priority level 1:</p>
        <ul id="sorter3">
        {% for item in to_display %}
            {% if item.priority == 1 %}
                <li id="item_{{item.id}}" class="ui-state-default list_text">
                    <input type="checkbox" name="todelete" value="{{item.id}}" {% if item.completed %} checked = "yes" {% endif %} class="completed_box" id="{{item.id}}"/>
                    {{item.text}}
                     <p class="ui-state-default panel">
                        {{item.description}} <br><br>
                        {% if item.due_date %} Due: {{item.due_date}} {% endif %} <br>
                        Assigned by: {{item.assigner |capfirst}} <br>
                        Assigned on: {{item.assigned_date}}
                    </p>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <br>

    <!--If not owner, show not editable list-->
    {% else %}
        <ul id="non_owner_list">
        {% for i in "321" %} <!--python equivalent of range(3,0,-1)-->
            <p id="priority_label">Priority level {{i}}:</p>
            {% for item in to_display %}
                {% ifequal item.priority|add:"0" i|add:"0" %} <!--This is a really terrible hack to convert a string to an int, sorry-->
                <li id="todo_item" class="ui-state-default non_owner_list_text">
                    {{item.text}} -
                    {% if item.completed %} Completed
                    {% else %} Not Completed
                    {% endif %}
                     <p class="ui-state-default panel">
                        {{item.description}} <br><br>
                        {% if item.due_date %} Due: {{item.due_date}} {% endif %} <br>
                        Assigned by: {{item.assigner |capfirst}} <br>
                        Assigned on: {{item.assigned_date}}
                    </p>
                </li>
                {% endifequal %}
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}

<!--If nothing in list, show message-->
{% else %}
    <p id="priority_label">Either {{list.owner |capfirst}} has no items to do yet, or there are no items in the filter category you selected.</p>
{% endif %}


<br><br>
<a href="{% url 'todolist:index' %}">Return to list of lists</a>

{% endblock %}
