<!--login page-->
{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<h1>Welcome to Baydin's to-do list system</h1>

{% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username">

    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <br>

    <input type="submit" class="buttons" value="login">
    <input type="hidden" name="next" value="/todolist/">
</form>
<br>
<p>
Not a user, yet? <a href="/accounts/register/">Sign up</a>
<br>
Forgot your password? <a href="/accounts/password/reset/">Recover your password</a>
</p>
{% endblock %}
